@tailwind base;
@tailwind components;
@tailwind utilities;
input::-webkit-input-placeholder {
  color: #66577c;
  font-size: 3vw;
}
body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
}

.ClearLine::-webkit-scrollbar {
  height: 0px;
  width: 20px;
}
